DDL.sql linguist-detectable=true
src/** linguist-documentation=false
src/** linguist-vendored=false
*.sql linguist-detectable=true
*.java linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
