<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>바다이음</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body>
    <div class="footerFake">
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-right">
                    <nav class="footer-menu">
                    </nav>
                    <div class="social-icons footer-menu">
                        <a href="mailto:kitadima45@gmail.com" aria-label="mailto:kitadima45@gmail.com">
                            <img loading="lazy" src="https://img.icons8.com/?size=100&id=85467&format=png&color=ffffff"
                                class="social-icon" alt="">
                        </a>
                        <a href="https://github.com/digitalMaster4th5/SecondProject" aria-label="Social Media Link 2">
                            <img loading="lazy"
                                src="https://img.icons8.com/?size=100&id=3tC9EQumUAuq&format=png&color=ffffff"
                                class="social-icon" alt="">
                        </a>
                    </div>
                    <div class="footer-menu copyright-box">
                        <p class="copyright">바다이음 @ 2024. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>