<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>바다이음</title>
    <!--  -->
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>

<body>
    <th:block sec:authorize="isAuthenticated()" th:if="${session_port != null}">

        <input type=hidden th:value=" ${session_port}" id="session_null_check_port">
        <input type=hidden th:value="${session_callsign}" id="session_null_check_callsign">
        <a th:href="@{/(search_ship=${session_callsign})}" id="getvoyageSession"></a>
        <a th:href="@{/voyage/voyagedetail(callSign=${session_callsign})}" id="getshipSession"></a>
        <a th:href="@{/port/portdetail(port=${session_port})}" id="getPortSession"></a>
        <a th:href="@{/calc/calcdetail(callSign=${session_callsign})}" id="getCalcSession"></a>
    </th:block>
    <header class="header">
        <div class="all_con">
            <a th:href="@{/}" class="logo" id="logo"><img
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/e8dfec0d885d4ee67f98a3db6e0c794767fd7e9ee2c6714867ad04ed72d7bc14?placeholderIfAbsent=true&apiKey=e2e98420831a4c5e9ded685bb9a9a66b"
                    alt="Company logo" class="logoHeader" id="logoHeader" /></a>
            <nav class="nav-menu">
                <div class="nav-item">
                    <a th:href="@{/}" class="nav-link" id="gotoShip">선박 정보</a>
                </div>
                <div class="nav-item nav-item-wide">
                    <a th:href="@{/port/portdetail}" class="nav-link-wide nav-link" id="gotoPort">목적지 정보</a>
                </div>
                <div class="nav-item nav-item-tall">
                    <a th:href="@{/port/calcdetail}" class="nav-link-tall nav-link" id="gotoCalc">항만 사용료<br>계산기</a>
                </div>
                <div class="nav-item">
                    <a th:href="@{/aboutUs}" class="nav-link">About Us</a>
                </div>
            </nav>

            <!-- 로그인 정보 -->
            <div id="user">
                <ul id="user-ul">
                    <!-- 비로그인 상태 -->
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/user/login}" class="nav-link">
                            <button class="log-button">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/18d8a057f3538cb2faa0c0d8b1e221c4cd0124c6e0e5334f257fdc79dc7c7ce4?placeholderIfAbsent=true&apiKey=e2e98420831a4c5e9ded685bb9a9a66b"
                                    alt="" class="login-icon">
                                <span class="login-text">로그인</span>
                            </button>
                        </a>
                    </li>

                    <!-- 로그인 상태 -->
                    <li sec:authorize="isAuthenticated()">
                        <div class="user-info">
                            <span class="username" id="usernameSession">[[${#authentication.name}]]</span>
                            <span class="user-suffix">님</span>
                            <a th:href="@{/user/mypage}" class="mypage" id="mypage">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ddf6288af139996e440e7a00c6a0b52c98c99eb4253301259661b81ed60c9ef6?placeholderIfAbsent=true&apiKey=e2e98420831a4c5e9ded685bb9a9a66b"
                                    alt="User Profile" class="user-icon">
                            </a>
                        </div>
                        <form th:action="@{/user/logout}" method="POST" class="logout-post">
                            <button type="submit" class="logout-btn">로그아웃</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (document.getElementById('usernameSession') != null) {
                if (document.getElementById('session_null_check_port').value != null || document.getElementById('session_null_check_port').value != "") {
                    console.log(`\n 전해져온 항구: ${document.getElementById('session_null_check_port').value}`);
                    console.log(`\n 전해져온 선박: ${document.getElementById('session_null_check_callsign').value}`);
                    document.getElementById('logo').addEventListener('click', function (event) {
                        event.preventDefault();
                        document.getElementById('getvoyageSession').click();
                    });
                    document.getElementById('gotoShip').addEventListener('click', function (event) {
                        event.preventDefault();
                        document.getElementById('getshipSession').click();
                    });
                    document.getElementById('gotoPort').addEventListener('click', function (event) {
                        event.preventDefault();
                        document.getElementById('getPortSession').click();
                    });
                    document.getElementById('gotoCalc').addEventListener('click', function (event) {
                        event.preventDefault();
                        document.getElementById('getCalcSession').click();
                    });
                }
            }
        });
    </script>
</body>

</html>