<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>선박 정보</title>
    <link rel="stylesheet" th:href="@{/css/shipInfo.css}">
    <!-- Google Maps API 불러오기 -->
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcTJ2Vc3GipTS3tfRuyvMAgMNyyTu45LA&callback=initMap"></script>
    <script defer src="/script/shipInfo.js"></script>
</head>

<body>
    <div class="header" th:replace="fragment/header(title='헤더')"></div>
    <div id="map" style="height: 500px; width: 100%;"></div> <!-- 구글 지도 표시 -->
    <div class="box">
        <div class="pop-up">
            <div class="overlap-group">
                <div id="shipInfo" class="shipInfo">
                    <div class="shipName">선박명</div>
                    <div class="callSign">콜사인</div>
                </div>
                <div class="Line1" style="width: 398px; height: 0px; border: 2px #B1AEAE solid"></div>
                <div class="depDay"> 출발일시:
                    <div class="depTime">2024/10/15</div>
                </div>
                <div class="d-day">
                    <div class="D-day">D</div>
                    <div class="sign">-</div>
                    <div class="days">14</div>
                </div>
                <div class="DepToArr">
                    <div class="depPort">출발항</div>
                    <img src="/static/images/ship.png" class="shipImg" alt="선박 모양">
                    <div class="proceeding">n<span class="percent">%</span></div>
                    <div class="arrPort">도착항</div>
                </div>
                <div class="arrDay"> 도착일시:
                    <div class="arrTime">2024/10/15</div>
                </div>
            </div>
        </div>
    </div>
    <div id="zoom-control">
        <button id="zoom-in">+</button>
        <button id="zoom-out">-</button>
    </div>
</body>

</html>