<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
    <title>항만 사용료 계산기</title>
    <link rel="stylesheet" th:href="@{/css/calculator.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer th:src="@{/script/calculator.js}"></script>

</head>

<body class="body">
    <div class="container" th:replace="~{fragment/header(title='헤더')}"></div>
    <div class="background">
        <div class="title">
            <div class="title-text">항만 사용료 계산기</div>
            <div class="subtitle-text">데이터를 기반으로 예상되는 값이며, 오차가 발생할 수 있습니다.</div>
        </div>
        <div class="calcbox">
            <div class="left-content">
                <div class="port">
                    <div class="port-std">기준항:</div>
                    <div class="port-info">
                        <div class="port-layout1">[</div>
                        <div class="port-name" th:text="${portName}">목적항</div>
                        <div class="port-layout2">]</div>
                    </div>
                </div>
                <div class="typing">
                    <form th:action="@{/calc/calcForm}" method="POST" id="calcForm"
                        data-working-hour="[[${workingHour}]]" data-working-minute="[[${workingMinute}]]"
                        data-waiting-hour="[[${waitingHour}]]" data-waiting-minute="[[${waitingMinute}]]">
                        <div class="modifying">
                            <div class="weight">
                                <div class="weight-text">선박 무게</div>
                                <input type="text" name="tonnage" id="tonnage" th:value="${tonnage}">
                                <div class="weight-ton">ton</div>
                            </div>
                            <div class="im-export">
                                <div class="import">
                                    <div class="import-text">입항 예정 일시</div>
                                    <input type="date" name="importDate" id="importDateDisplay"
                                        th:value="${importDateDisplay}">
                                    <!-- 실제 값은 datetime-local로 서버에 전송 -->
                                    <input type="hidden" name="importDate" id="importDate" th:value="${importDateFull}">
                                </div>
                                <div class="export">
                                    <div class="export-text">출항 예정 일시</div>
                                    <input type="date" name="exportDate" id="exportDateDisplay"
                                        th:value="${exportDateDisplay}">
                                    <!-- 실제 값은 datetime-local로 서버에 전송 -->
                                    <input type="hidden" name="exportDate" id="exportDate" th:value="${exportDateFull}">
                                </div>
                            </div>
                            <div class="time">
                                <div class="working">
                                    <div class="working-text">작업 시간</div>
                                    <input type="number" name="workingHour" id="workingHour" min="0" max="50"
                                        th:value="${workingHour}">
                                    <div class="hour">시간</div>
                                    <input type="number" name="workingMinute" id="workingMinute" min="0" max="59"
                                        th:value="${workingMinute}">
                                    <div class="minute">분</div>
                                </div>
                                <div class="waiting">
                                    <div class="waiting-text">대기 시간</div>
                                    <input type="number" name="waitingHour" id="waitingHour" min="0" max="50"
                                        th:value="${waitingHour}">
                                    <div class="hour">시간</div>
                                    <input type="number" name="waitingMinute" id="waitingMinute" min="0" max="59"
                                        th:value="${waitingMinute}">
                                    <div class="minute">분</div>
                                    <input type="checkbox" name="openSea" id="openSea">
                                    <div class="checkbox-text">외해 정박</div>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="button-calc" id="calcButton">
                                <span class="button-text">계산</span>
                            </button>
                            <button class="button-save" id="saveButton" th:disabled="${!isSaveEnabled}">
                                <span class="button-text">저장</span>
                            </button>
                            <button type="reset" class="button-reset" id="resetButton">
                                <span class="button-text">초기화</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="reference">※ 출항 예정 일시가 미확인 된 선박은 항구별 평균 대기 시간을 사용해 계산하였습니다.</div>
            </div>
            <div class="right-content">
                <div class="right-back1">
                    <div class="right-back2">
                        <div class="ship">
                            <div class="ship-name" th:text="${shipName}">cmo jdnsjfl fnnslaer</div>
                            <div class="ship-sign" th:text="${callSign}">Call Sign</div>
                        </div>
                        <div class="result">
                            <div class="result-won">₩</div>
                            <div class="result-num" th:text="${result}" id="totalResult">123,000,111</div>
                        </div>
                        <div class="statistic">
                            <div class="bar-chart">
                                <canvas id="bar" class="bar"></canvas>
                            </div>
                            <div class="group">
                                <div class="group1">
                                    <div class="column1">
                                        <div class="circle1"></div>
                                        <div class="title1">입출항료</div>
                                    </div>
                                    <div class="money">
                                        <div class="won">₩</div>
                                        <div class="fee1" th:text="${fee}" id="entryExit">152,365,1</div>
                                    </div>
                                    <div class="portion-group1">
                                        <div class="portion1" th:text="${portion}" id="entryExitRatio">48</div>
                                        <div class="portion">%</div>
                                    </div>
                                </div>
                                <div class="group2">
                                    <div class="column2">
                                        <div class="circle2"></div>
                                        <div class="title2">접안료</div>
                                    </div>
                                    <div class="money">
                                        <div class="won">₩</div>
                                        <div class="fee2" th:text="${fee}" id="berthing"></div>
                                    </div>
                                    <div class="portion-group2">
                                        <div class="portion2" th:text="${portion}" id="berthingRatio"></div>
                                        <div class="portion">%</div>
                                    </div>
                                </div>
                                <div class="group3">
                                    <div class="column3">
                                        <div class="circle3"></div>
                                        <div class="title3">정박료</div>
                                    </div>
                                    <div class="money">
                                        <div class="won">₩</div>
                                        <div class="fee3" th:text="${fee}" id="anchorage"></div>
                                    </div>
                                    <div class="portion-group3">
                                        <div class="portion3" th:text="${portion}" id="anchorageRatio"></div>
                                        <div class="portion">%</div>
                                    </div>
                                </div>
                                <div class="group4">
                                    <div class="column4">
                                        <div class="circle4"></div>
                                        <div class="title4">계선료</div>
                                    </div>
                                    <div class="money">
                                        <div class="won">₩</div>
                                        <div class="fee4" th:text="${fee}" id="mooring"></div>
                                    </div>
                                    <div class="portion-group4">
                                        <div class="portion4" th:text="${portion}" id="mooringRatio"></div>
                                        <div class="portion">%</div>
                                    </div>
                                </div>
                                <div class="group5">
                                    <div class="column5">
                                        <div class="circle5"></div>
                                        <div class="title5">보안료</div>
                                    </div>
                                    <div class="money">
                                        <div class="won">₩</div>
                                        <div class="fee5" th:text="${fee}" id="security"></div>
                                    </div>
                                    <div class="portion-group5">
                                        <div class="portion5" th:text="${portion}" id="securityRatio"></div>
                                        <div class="portion">%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>