<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>목적지 정보</title>
    <link rel="stylesheet" th:href="@{/css/destination.css}">
    <!-- Google Maps API 불러오기 --> 
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcTJ2Vc3GipTS3tfRuyvMAgMNyyTu45LA&callback=initMap"></script>
	<script defer src="/script/destination.js"></script>
</head>

<body>
    <div class="header" th:fragment="header(title='헤더')"></div>
    <div class="container">
        <img loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/81fd96ec32b73da6bb0e0aa31222124c3e85533cefc6d6084390d5d587750cf8?placeholderIfAbsent=true&apiKey=e2e98420831a4c5e9ded685bb9a9a66b"
            class="wave" alt="물결 배경">
    </div>
    <div id="map" style="height: 500px; width: 100%;"></div> <!-- 구글 지도 표시 -->
    <div class="port-box">
        <div class="destination-port">
            <select name="port" id="portchoose">
                <optgroup label="항구 선택">
                    <option value="KRPUS" checked>부산항</option>
                    <option value="KRBNP">부산신항</option>
                    <option value="KRICN">인천항</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="portInfo-box">
        <div class="portInfo">
            <div id="port-name" class="portName">도착항</div>
            <div class="weather">날씨</div>
            <img src="" alt="Weather Icon" id="weatherIcon">
            <div id="phone-num" class="port-phone">항만공사: <span>전화번호</span></div>
            <button class="homepage" id="homepage-link">
                <div class="page-box">
                    <p class="page-text">홈페이지</p>
                </div>
            </button>
            <div class="processing">항만 선석 이용 현황:</div>
            <button class="berthInfo">
                <div class="berth-box">
                    <div class="berth-working">n</div>
                    <div class="berth-slash">/</div>
                    <div class="berth-total">n</div>
                </div>
            </button>
            <div class="accident-statics">전년도 당월 사고 통계</div>
            <div class="Line1" style="width: 230px; height: 0px; border: 2px #B1AEAE solid"></div>
            <div th:if="${accidentStats != null}">
            	<div class="accident_box1">
                	<div class="rank1">1위</div>
                	<div class="reason1">[[${accidentStats[0].reason}]]</div>
                	<div class="count">[[${accidentStats[0].count}]] 회</div>
            	</div>
            	<div class="accident_box2">
	                <div class="rank2">2위</div>
	                <div class="reason2">[[${accidentStats[1].reason}]]</div>
	                <div class="count">[[${accidentStats[1].count}]] 회</div>
	            </div>
	            <div class="accident_box3">
	                <div class="rank3">3위</div>
	                <div class="reason3">[[${accidentStats[2].reason}]]</div>
	                <div class="count">[[${accidentStats[2].count}]] 회</div>
	            </div>
            </div>
            <div th:if="${accidentStats == null}">
    			<p>사고 통계 데이터를 불러올 수 없습니다.</p>
			</div>
        </div>
    </div>
    <div class="toggle-box">
        <div class="waiting-area">
            <div class="toggle1">인근 대기지</div>
            <div class="mark1"><img src="/images/waiting.png"></div>
            <label class="switch1">
                <input type="checkbox" id="toggleInfoWaiting">
                <span class="slider"></span>
            </label>

            <ul th:if="${toggleInfoWaiting}">
                <li th:each="area : ${waitingAreas}">
                    [[${area.info}]] (위치: [[${area.location}]])
                </li>
            </ul>
        </div>
        <div class="terminal">
            <div class="toggle2">컨테이너 터미널</div>
            <div class="mark1"><img src="/images/terminal.png"></div>
            <label class="switch2">
                <input type="checkbox" id="toggleInfoTerminal">
                <span class="slider"></span>
            </label>

            <ul th:if="${toggleInfoTerminal}">
                <li th:each="terminal : ${containerTerminals}">
                    [[${terminal.info}]] (위치: [[${terminal.location}]])
                </li>
            </ul>
        </div>
        <div class="congestion-area">
            <div class="toggle3">혼잡 주의 지역</div>
            <div class="mark1"><img src="/images/warning.png"></div>
            <label class="switch3">
                <input type="checkbox" id="toggleInfoCongestion">
                <span class="slider"></span>
            </label>

            <ul th:if="${toggleInfoCongestion}">
                <li th:each="congestion : ${congestionAreas}">
                    [[${congestion.info}]] (위치: [[${congestion.location}]])
                </li>
            </ul>
        </div>
    </div>
</body>

</html>