<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
    <title>회원 가입</title>
    <link rel="stylesheet" th:href="@{/css/join.css}">

    <!-- 검증 설정 -->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script defer th:src="@{/script/join.js}"></script>
</head>

<body class="body">
    <div class="header" th:replace="~{fragment/header(title='헤더')}"></div>
    <div class="background">
        <div class="container">
            <div class="temp">
                <!--                 <svg xmlns="http://www.w3.org/2000/svg" width="1500" height="740" viewBox="0 0 1500 740" fill="none"> -->
                <!--                     <g filter="url(#filter0_f_67_2140)"> -->
                <!--                         <path fill-rule="evenodd" clip-rule="evenodd" -->
                <!--                             d="M0 505.143L42.5 473.5C102.5 440.024 147.5 348.5 267.5 348.5C387.5 348.5 600 438.19 720 387.976C840 337.762 960 170.381 1080 86.6905C1200 3 1320 3 1380 3H1440V706H1380C1320 706 1200 706 1080 706C960 706 840 706 720 706C600 706 480 706 360 706C240 706 120 706 60 706H0V505.143Z" -->
                <!--                             fill="#8DADFF" /> -->
                <!--                     </g> -->
                <!--                     <defs> -->
                <!--                         <filter id="filter0_f_67_2140" x="-3" y="0" width="1500" height="740" -->
                <!--                             filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"> -->
                <!--                             <feFlood flood-opacity="0" result="BackgroundImageFix" /> -->
                <!--                             <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" /> -->
                <!--                             <feGaussianBlur stdDeviation="1.5" result="effect1_foregroundBlur_67_2140" /> -->
                <!--                         </filter> -->
                <!--                     </defs> -->
                <!--                 </svg> -->
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/81fd96ec32b73da6bb0e0aa31222124c3e85533cefc6d6084390d5d587750cf8?placeholderIfAbsent=true&apiKey=e2e98420831a4c5e9ded685bb9a9a66b"
                    class="wave" alt="물결 배경">
                <div class="innerbackground">
                    <div class="joinbox">
                        <div class="left-box">
                            <img th:src="@{/images/login_logo.png}" class="logo" alt="로고">
                        </div>
                        <div class="top-joinbox">
                            <div class="top-join">
                                <div class="overlap-group"><span class="top-join-text">회원 가입</span></div>
                            </div>
                        </div>
                        <form th:action="@{/user/join}" method="post" id="joinForm">
                            <div class="joinlist">
                                <div class="namebox">
                                    <div class="label">이름</div>
                                    <input type="text" id="username" class="username" name="userName">
                                    <!-- <div >이름은 2~20자로 입력해주세요.</div> -->
                                </div>
                                <div class="idbox">
                                    <div class="label">아이디
                                        <div class="infotip" id="idInfo"></div>
                                    </div>
                                    <div class="idbox_inline">
                                        <input type="text" id="userId" class="userId" name="userId" minlength="5"
                                            maxlength="20">
                                        <input type="button" class="idCheck" id="idCheck" value="중복 확인">
                                    </div>
                                    <!-- <div>아이디는 5~20자로 입력해주세요.</div> -->
                                </div>
                                <div class="pwdbox">
                                    <div class="label">비밀번호
                                        <div class="infotip" id="pwdInfo"></div>
                                    </div>
                                    <input type="password" id="userPwd" class="userPwd" name="userPwd" minlength="10"
                                        maxlength="15">
                                    <!-- <p id="pwdRole">사용 불가능</p> -->
                                    <!-- <div>비밀번호는 영문, 숫자, 특수문자(&lt;&gt;.?!^*()) 중 2가지 이상 혼합하여 7~20 글자로 입력해 주세요.</div> -->
                                </div>
                                <div class="pwdCheckBox">
                                    <input type="password" id="pwdCheck" class="pwdCheck" placeholder="비밀번호를 재입력해 주세요">

                                </div>
                                <div class="phone">
                                    <div class="label">전화번호</div>
                                    <input type="text" id="phone" class="phonenum" name="phone">
                                    <!-- <p>전화번호는 숫자만 입력해 주세요.</p> -->
                                </div>
                                <div class="email">
                                    <div class="label">이메일</div>
                                    <div class="emailinline">
                                        <input type="text" id="emailF" class="emailF">
                                        <div class="at">@</div>
                                        <select id="emailchoose">
                                            <optgroup>
                                                <option value="직접 입력">직접 입력</option>
                                                <!-- <input type="text" id="email1" class="email1"> -->
                                                <option value="naver.com">naver.com</option>
                                                <option value="gmail.com">gmail.com</option>
                                                <option value="daum.net">daum.net</option>
                                            </optgroup>
                                        </select>
                                        <input type="text" id="emailB" class="email1">
                                        <input type="hidden" name="email" id="email">
                                    </div>
                                </div>
                                <div class="userType">
                                    <div class="label">사용자 유형</div>
                                    <div class="typeSelect">
                                        <input type="radio" name="userType" value="1" checked> 선박 운영자
                                        <input type="radio" name="userType" value="2"> 화물 소유자
                                        <input type="radio" name="userType" value="3"> 무역업 종사자
                                        <input type="radio" name="userType" value="4"> 일반 사용자
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="bottom-box">
                            <div class="bottom-join">
                                <input type="button" id="submitBtn" value="회원가입" class="btm-join-text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>