<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <!-- <link rel="stylesheet" th:href="@{/css/mypage.css}"> -->
    <link rel="stylesheet" href="../../static/css/mypage.css">
    <script defer th:src="@{/script/mypage.js}"></script>

</head>

<body>
    <div class="header">
        <iframe src="../fragment/header.html" frameborder="0" style="width: 100%; height: 100px;"></iframe>
    </div>
    <!-- <div class="header" th:replace="~{fragment/header(title='헤더')}"></div> -->
    <div class="background">
        <div class="mainbox">
            <div class="userbox">
                <!-- <img th:src="@{/images/user1.png}" class="user-icon" alt="사용자 유형 아이콘"> -->
                <img src="../../static/images/user1.png" class="user-icon" alt="사용자 유형 아이콘">
                <div class="user-type" th:text="${userType}">사용자 유형</div>
                <div class="name" id="name" th:text="${userName}">이름</div>
                <div class="Id" id="id">아이디 (<span class="userId" id="userId" th:text="${user}"></span>)</div>
            </div>
            <div th:if="!${#lists.isEmpty(voyages)}">
                <form th:action="@{/user/deleteFavorite}" method="post" id="delete-form">
                    <button class="delete-btn" type="button" onclick="confirmDelete()">삭제</button>
                </form>
            </div>
            <div class="listbox">
                <div class="list-columns">
                    <input type="checkbox" name="choose-all" id="choose-all">
                    <div class="column1">선박명</div>
                    <div class="column2">Call Sign</div>
                    <div class="column3">출발지</div>
                    <div class="column4">도착지</div>
                    <div class="column5">운행률(%)</div>
                    <div class="column6">즐겨찾기</div>
                </div>
                <hr class="line">
                <div th:if="!${#lists.isEmpty(voyages)}">
                    <form th:action="@{/user/deleteFavorite}" method="post" id="delete-form">
                        <div class="list-tuple" th:each="voyage, iterStat : ${voyages}">
                            <input type="checkbox" name="vNumbers" th:value="${voyage.vNumber}" class="choose-one">
                            <!-- 링크로 각 항목을 감쌈 -->
                            <a th:href="@{/(search_ship=${voyage.ship.callSign})}" class="tuple-link">
                                <div class="tuple1" th:text="${voyage.ship.shipName}">선박명</div>
                                <div class="tuple2" th:text="${voyage.ship.callSign}">콜사인</div>
                                <div class="tuple3" th:text="${voyage.departure}">출발지</div>
                                <div th:if="${voyage.port != null}">
                                    <span th:text="${voyage.port.portCode}">도착지</span>
                                </div>
                                <div class="column5" th:text="${voyagePer[iterStat.index]} + '%'">운행률(%)</div>
                            </a>
                            <input type="checkbox" name="favorite" th:id="'favorite' + ${voyage.vNumber}"
                                th:checked="${favoriteList[iterStat.index] == 1}"
                                th:onclick="changeFavorite([[${voyage.vNumber}]])">
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>

</html>