<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
  	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
    <title>선박정보</title>
    <link rel="stylesheet" th:href="@{/css/shipInfo.css}">

    <script defer th:src="@{/script/shipInfo.js}"></script>
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 날씨 api용 --><!-- axios 라이브러리 외부 CDN으로 추가 -->
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcTJ2Vc3GipTS3tfRuyvMAgMNyyTu45LA&callback=myMap"></script>
    <script th:src="@{/script/voyage_map.js}"></script>
    <script>

    </script>

</head>

<body class="body">
    <div class="container" th:replace="~{fragment/header(title='헤더')}"></div>
    <input type="hidden" id="GetnowLoc" th:value="${nowLoc}">
    <input type="hidden" id="Getvoyage" th:value="${voyage}">
    
    <div class="allTag">
        <!-- 구글 지도 표시 -->
        <div class="background">
            <div id="map"></div>
        </div>
	
    	<div id="shipPerInfo"></div>
    	
        <!-- 지도 위 좌표 팝업 -->
        
    	<input type="hidden" id="shipSpeed" th:value="${nowSpeed}">
    	<input type="hidden" id="nowCor" th:value="${nowCor}">
    	
<!--         <div id="overTheMap" style="width: 300px; height: 100px;"> -->
<!--             <div class="over1"> -->
<!--                 <p class="overinfo">현재 날씨</p> -->
<!--                 <p class="weather overinfo" style="height: 40px;"><img src="" alt="Weather Icon" id="weatherIcon"></p> -->
<!--                 <p class="temparature overinfo"><span id="tempa">00</span><span class="celsius minsize">°C</span></p> -->
<!--                 <div class="Line2"></div> -->
<!--                 <p class="speed overinfo"><span id="windSpeed">0.0</span><span class="minsize">m/s</span></p><br> -->
<!--             </div> -->
<!--             <div class="over2"> -->
<!--                 <p class="overinfo">속도: <span id="shipSpeed" th:text="${nowSpeed}"></span>kn</p> -->
<!--                 <div class="Line2"></div> -->
<!--                 <p class="overinfo">이동 방향: <span id="shipSpeed" th:text="${nowCor}"></span>°</p> -->
<!--             </div> -->
<!--         </div> -->
        <!-- 지도 우측 하단 팝업 -->
        <div class="box">
            <div class="pop-up">
                <div class="overlap-group">
                    <div id="shipInfo" class="shipInfo">
                        <div class="shipName" th:text="${voyage.ship.shipName}">선박명</div>
                        <div class="callSign" th:text="${voyage.ship.callSign}">콜사인</div>
                    </div>
                    <div class="Line1"></div>
                    <div class="dateInfo">
                        <div class="depDay Day"> 출발일 :&nbsp;
                            <div class="depTime" th:text="${voyage.departureDate}" id="depTime">2024/10/15</div>
                        </div>
                        <div class="d-day">
                            <div class="D-day">D</div>
                            <!-- <div class="sign">-</div> -->
                            <div class="days">[[${leftDate}]]</div>
                        </div>
                    </div>
                    <div class="DepToArr">
                        <div class="depPort">[[${voyage.departure}]]</div>
                        <img src="https://img.icons8.com/?size=50&id=41200&format=png&color=ffffff" class="shipImg" alt="선박 모양">
                        <div class="arrPort">[[${voyage.port.portCode}]]</div>
                    </div>
                    <div class="proceeding">
                    	<span id="perInfo">항해 진행률</span><br>
                        <span id="voyagePer">[[${voyagePer}]]</span><span class="percent">%</span>
                    </div>
                    <div class="arrDay Day"> 도착 예정일 :&nbsp;
                        <div class="arrTime" th:text="${voyage.arrivalDate}" id="arrTime">2024/10/15</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
	
</body>

</html>