.body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;

    text-align: center;
}

.background {
    width: 100%;
    height: 740px;
    background: #5D7ED3;
}

.container {
    position: relative;

    width: 1500px;
    height: 740px;

    padding: 0;
    background: #5D7ED3;
    margin: 0 auto;
    /* 중앙 정렬 */
}


#map {
    position: absolute;
    top: 55px;
    left: 90px;
    width: 60%;
    height: 680px;
    flex-shrink: 0;

    border-radius: 10px;
    background: #CBCBCB;
}


.port-box {
    position: absolute;
    top: 55px;
    right: 100px;
    width: 332px;
    z-index: 2;
    padding: 5px;
    border-radius: 10px;
    background: #435B97;
}

.destination-port {
    width: 100%;
    height: 36px;
    border-radius: 10px;
    background: #FFF;
}

#portchoose {
    width: 100%;
    /* port-box 내부에 맞춤 */
    color: #000;
    text-align: center;
    text-align-last: center;
    font-family: "KoddiUD OnGothic";
    font-size: 23px;
    font-weight: 800;
    line-height: normal;
    border: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="21" viewBox="0 0 26 21" fill="none"><path d="M13 21L25.1244 0H0.875645L13 21Z" fill="%232D3C63"/></svg>') no-repeat right 10px center;
    background-size: 28px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 0;
}

/* 기본 드롭다운 화살표 숨기기 */
select {
    appearance: none;
    /* Webkit 브라우저 */
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    width: 200px;
    /* 원하는 너비 */
    height: 40px;
    /* 높이 설정 */
    padding-right: 40px;
    /* 오른쪽 패딩 추가 */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="21" viewBox="0 0 26 21" fill="none"><path d="M13 21L25.1244 0H0.875645L13 21Z" fill="%232D3C63"/></svg>') no-repeat right 10px center;
    background-size: 28px;
    /* 아이콘 크기 설정 */
    border: 1px solid #ccc;
    /* 테두리 스타일 */
    border-radius: 5px;
    /* 테두리 둥글게 */
    font-size: 16px;
    /* 글자 크기 */
    color: #000;
    /* 텍스트 색상 */
}

/* IE용 기본 드롭다운 아이콘 숨기기 */
select::-ms-expand {
    display: none;
}

/* 셀렉트 박스 테두리 제거 */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    /* 셀렉트 박스가 포트 박스 내부에 맞도록 */
    padding: 5px;
    background-color: transparent;
    border: none;
    /* 테두리 없애기 */
    font-size: 16px;
    /* 텍스트 크기 */
    text-align: center;
    /* 텍스트 가운데 정렬 */
    color: #2D3C63;
    /* 텍스트 색상 */
}

.port-box select,
.port-box option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portInfo-box {
    position: absolute;
    width: 332px;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3C5185;

    top: 125px;
    right: 100px;
    z-index: 2;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.portInfo {
    width: 100%;
    height: 360px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
}

.portInfoDefault {
    width: 100%;
    height: 125px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.port-name-weather {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 20px;
    margin-top: 8px;
}

#port-name {
    width: auto;
    color: #000;
    text-align: center;
    font-family: "KoddiUD OnGothic";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.weather-info {
    display: flex;
    align-items: center;
}

#weather-text {
    font-family: "KoddiUD OnGothic";
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
    font-style: normal;
    color: #000;
    margin-right: 5px;
}

#weatherIcon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.port-contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 20px;
}

.port-phone {
    width: 212px;
    height: 21px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: "KoddiUD OnGothic";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.homepage {
    width: 65px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #6295d0;
    border: none;
    cursor: pointer;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

.page-text {
    width: auto;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "KoddiUD OnGothic";
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.accident-statics {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    margin-bottom: 10px;
    font-family: "KoddiUD OnGothic";
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin-top: 9px;
}

.Line1 {
    margin: 0 auto;
    border: 1px solid #B1AEAE;
    margin-bottom: 10px;
    margin-top: 5px;
}

.accident-statics-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    align-items: center;
    color: #000;
    text-align: center;

}

.accident_box1,
.accident_box2,
.accident_box3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 5px auto;
    padding: 5px 0;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "KoddiUD OnGothic";
    font-size: 21.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* 토글 버튼 스타일 */
.switch1,
.switch2,
.switch3 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch1 input,
.switch2 input,
.switch3 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch1 .slider,
.switch2 .slider,
.switch3 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.switch1 .slider:before,
.switch2 .slider:before,
.switch3 .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.switch1 input:checked+.slider,
.switch2 input:checked+.slider,
.switch3 input:checked+.slider {
    background-color: #2196F3;
}

.switch1 input:checked+.slider:before,
.switch2 input:checked+.slider:before,
.switch3 input:checked+.slider:before {
    transform: translateX(26px);
}


.toggle-box {
    text-align: center;
    position: absolute;
    width: 312px;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
    background: #2D3C63;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 2;
    top: 520px;
    right: 100px;
}

.waiting-area,
.terminal,
.congestion-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 295px;
    height: 34px;
    flex-shrink: 0;
    gap: 10px;
}

.toggle1,
.toggle2,
.toggle3 {
    width: 160px;
    color: #FFF;
    text-align: center;
    font-family: "KoddiUD OnGothic";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.mark1 {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F188A6;
    display: flex;
    justify-content: center;
    align-items: left;
}

.mark2,
.mark3 {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}