@charset "UTF-8";

.top-loginbox {
    width: 251px;
    height: 103px;
}

.top-loginbox .top-login {
    position: fixed;
    width: 253px;
    height: 103px;
    top: 0;
    left: 0;
}

.top-loginbox .overlap-group {
    position: relative;
    width: 251px;
    height: 103px;
    background-color: #3d86ce;
    border-radius: 0px 25px 5px 100px;
}

.top-loginbox .top-login-text {
    position: absolute;
    width: 188px;
    height: 50px;
    top: 19px;
    left: 43px;
    font-family: "KoddiUD OnGothic-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.bottom-box {
    width: 380px;
    height: 68px;
}

.bottom-box .bottom-login {
    position: fixed;
    width: 382px;
    height: 68px;
    top: 0;
    left: 0;
}

.bottom-box .overlap-group1 {
    position: relative;
    width: 380px;
    height: 68px;
    background-color: #3d86ce;
    border-radius: 25px;
}

.bottom-box .btm-login-text {
    position: absolute;
    width: 168px;
    height: 60px;
    top: 4px;
    left: 96px;
    font-family: "KoddUD OnGothic-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}