@charset "UTF-8";

@font-face {
    font-family: 'KoddiUD OnGothic';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KoddiUDOnGothic/KoddiUDOnGothic-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/KoddiUDOnGothic/KoddiUDOnGothic-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/KoddiUDOnGothic/KoddiUDOnGothic-Regular.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/KoddiUDOnGothic/KoddiUDOnGothic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'KoddiUD OnGothic';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KoddiUDOnGothic/KoddiUDOnGothic-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/KoddiUDOnGothic/KoddiUDOnGothic-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/KoddiUDOnGothic/KoddiUDOnGothic-Bold.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/KoddiUDOnGothic/KoddiUDOnGothic-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'KoddiUD OnGothic';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.ttf') format('truetype');
}

/* 메인 */
.body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;

    text-align: center;
}

.back {
    width: 100%;
    height: 740px;
    background: rgba(113, 141, 213);
}

.background {
    position: relative;
    width: 1500px;
    height: 740px;
    padding: 0;
    background: rgba(113, 141, 213);
    text-align: center;

    margin: 0 auto;
    /* 중앙 정렬 */
}

/* 검색창 */
.search_box {
    position: absolute;
    width: 966px;
    height: 84px;
    top: 70px;
    text-align: center;

    /* 수평 중앙 */
    left: 50%;
    /* 수평 중앙을 맞추기 위한 보정 */
    transform: translateX(-50%);

    background: #FFFBFB;
    box-shadow: 0px 0px 12.8px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    align-items: center;
    padding-left: 20px;

    display: flex;
}


/* 검색창 - 검색 아이콘 */
#searchIcon {
    width: 45px;
    height: 45px;
    margin-right: 15px;
}



/* 검색창 - 선박을 검색하세요. (Call Sign / MMSI / IMO) */
#search_ship {
    width: 770px;
    height: 52px;
    background: transparent;
    line-height: 25px;

    color: #000;
    font-family: 'KoddiUD OnGothic';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    text-align: left;

    /* 테두리 제거 */
    border: none;
    /* 포커스 시 테두리 제거 */
    outline: none;
}


/* 검색창 - 찾기 */
.search {
    width: 87px;
    height: 45px;
    /* 배경 투명화 */
    background: transparent;

    font-family: 'KoddiUD OnGothic';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 25px;
    color: #344C64;

    border: none;
    transition: box-shadow 0.3s ease;

    cursor: pointer;
}

.search:active,
#saveBtn:active {

    background: #e2e2e2;
    cursor: pointer;
}

.search:hover,
#saveBtn:hover {
    /* 그림자 추가 */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#saveBtnBox {
    position: absolute;
    width: 1391px;
    top: 170px;
    text-align: right;

    left: 50%;
    transform: translateX(-50%);
    padding: 0 0 10px 0;
}


#saveBtn {
    font-family: 'KoddiUD OnGothic';
    width: 87px;
    height: 45px;
    font-weight: 800;
    font-size: 30px;
    line-height: 25px;
    color: white;
    background: #344C64;
    border: 0;
    border-radius: 10px;
}



/* 메인 서비스 */

.main_services {
    position: absolute;
    width: 1391px;
    height: 417px;
    top: 225px;
    text-align: center;

    /* 수평 중앙 */
    left: 50%;
    /* 수평 중앙을 맞추기 위한 보정 */
    transform: translateX(-50%);

    /* 상자들을 가로로 배치 */
    display: flex;
    /* 상자 사이 간격 조정 */
    justify-content: space-between;
    /* 수직 중앙 정렬 */
    align-items: center;
}

/*정보창*/
.service_box {
    width: 433px;
    height: 417px;

    filter: drop-shadow(7px 6px 8.9px rgba(0, 0, 0, 0.32));
    background: #FFFFFF;
    border-radius: 50px;
    padding: 20px;
    /* padding을 포함한 크기 계산 */
    box-sizing: border-box;
    /* 다른 상자들과 겹치지 않도록 설정 */
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service_box:hover {
    background: #e2e2e2;
    cursor: pointer;
}


/* 선박 정보 */
/* 선박정보 - 선박기본 , 목적지 정보 상단 */
.infoTitleBox {
    display: flex;
    height: 39px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* 선박명과 아이콘 사이의 간격 */
    padding-top: 10px;
    margin-top: 16px;
    margin-bottom: 25px;
}

/* 선박 정보 - Vector 이미지 */
#vector {
    width: 40px;
    height: 40px;
}

/* 선박 정보 - 선박명 (Call Sign) */
.shipName {
    font-family: 'KoddiUD OnGothic';
    font-weight: 800;
    font-size: 35px;
    color: #000000;
}

.callSign {
    color: #7A7A7A;
}

/* 선박 정보 - 분리 선 */
.Line1 {
    margin: 10px 0;
    width: 398px;
    border: 1.5px solid #B1AEAE;
    margin-bottom: 20px;
}



/* 선박 정보 - 출도착 정보 전체 상자 2개 */
.shipFD {
    height: 90px;
    width: 100%;
    padding-top: 20px;
}


/* 선박 정보 - 출도착지 안내 */
.dep_arr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* 선박정보 - oil_fill 이미지 */
.whale {
    width: 52px;
    height: 61px;
}



/* 선박 정보 - 출발지와 도착지 텍스트 */
.text_wrapper {
    width: 145px;

    font-family: 'KoddiUD OnGothic';
    font-weight: 800;
    font-size: 44px;
    text-align: center;
    align-items: center;
    color: #383E77;
}


/* 선박 정보 - 출발항 도착항 명 */
.text_wrap {
    width: 103px;
    height: 30px;
    margin: 0px 20px 0px 20px;

    font-family: 'KoddiUD OnGothic';
    font-weight: 800;
    font-size: 32px;
    text-align: center;

    color: #959494;
    margin-bottom: 20px;
}

/* 선박 정보 - ?% */
.proceeding {
    height: 50px;
    margin-top: 30px;
    font-family: 'KoddiUD OnGothic';
    font-weight: 800;
    font-size: 47px;
    text-align: center;
    color: #000000;
}



/* 목적지 정보 */
/* 목적지 정보 - 항만 날씨 */
.headBox {
    margin-top: 5px;
    width: 90%;
    height: 60px;
    padding: 10px 20px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));

    background: #FFFFFD;
    border: 2px solid #B1AEAE;
    box-shadow: 0px 4px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 목적지 정보 - **항 현재 날씨 */
.arr_info {
    font-family: 'KoddiUD OnGothic';
    font-weight: 800;
    font-size: 30px;

    color: #000000;
}

/* 목적지 정보 - 날씨 이미지 */
.weather {
    width: 80px;
    height: 80px;
    border-radius: 3px;
}


/* 목적지 정보 - 온도 -º */
.temparature {
    font-family: 'KoddiUD OnGothic';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #7A7A7A;
}




/* 목적지 정보 - 사고 */
.accident {
    margin-top: 20px;
    width: 90%;
    height: 240px;
    padding: 10px 20px;
    text-align: center;
    background: #FFFFFD;
    border: 1.5px solid #B1AEAE;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    align-items: center;
}



/*목적지 정보 - 사고 각 순위 상자*/
.accident_box {
    width: 100%;
    height: 44.34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* 목적지 정보 - 전년도 당월 사고 현황 */
.accident_title {
    font-family: 'KoddiUD OnGothic';
    font-weight: 800;
    font-size: 34px;
    color: #344C64;
    margin: 10px 0;
}

/* 목적지 정보 - Line 2 */
.Line2 {
    width: 347px;
    border: 1.5px solid #B1AEAE;
}

/* 목적지 정보 - 위 사고내역 % */
.accident_text {
    font-family: 'KoddiUD OnGothic';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;


    color: #000000;
}





/* 항만 사용료 */
/* 항만사용료 - 안내문구 겉 예상 항만 사용료 */
.fee_title {
    font-family: 'KoddiUD OnGothic';
    font-weight: 800;
    font-size: 38px;
    color: #000000;
}

/* 항만사용료 - 금액 wjscp */
.label {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 50px;
    text-align: center;
    overflow: visible;

    flex-direction: column;
    justify-content: center;
    /* 중앙 정렬 */
    align-items: center;
}

/* 항만사용료 - 금액 */
.port_fee {
    font-family: 'KoddiUD OnGothic';
    font-weight: 800;
    font-size: 1.2em;
    color: #344C64;
    text-align: center;
    margin: 40px 0 5px 0;
    text-shadow: 4px 4px 11px rgba(0, 0, 0, 0.25);

}


/* 항만사용료 - 원 */

.won {
    font-family: 'KoddiUD OnGothic';
    font-weight: 800;
    font-size: 40px;
    margin: 0;
    /* 글자 크기 설정 */

    text-align: center;
    color: #000000;

    align-self: flex-end;
    /* 우측 정렬 */
    margin-right: 10px;
    /* 우측 여백 추가 */
}