body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #5D7ED3;
    text-align: center;
    align-items: center;
    padding-bottom: 50px;
    /* 배경과 콘텐츠 사이 여백 유지 */
    padding-top: 50px;
    /* mainbox와 background 사이의 간격을 설정 */
}

.mainbox {
    position: relative;
    width: 1300px;
    margin: 0 auto;
    background: #FFFFFF;
    border: none;
    border-radius: 60px;
    padding: 20px;
    height: auto;
    overflow: visible;
    text-align: center;
}

.userbox {
    box-sizing: border-box;
    width: 482px;
    height: 125px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;

    background: #F9F9F9;
    border: 1px solid #828181;
    border-radius: 25px;
    aspect-ratio: 16 / 9;
}

.user-1 {
    width: 100px;
    height: 110px;
    text-align: center;
    align-items: center;
    padding-left: 23px;

    font-family: 'KoddiUD OnGothic', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #959494;
}

.userbox img {
    width: 87px;
    height: 85px;
}

.userbox>.user-type {
    width: 90px;
    height: 20px;
    font-size: 17px;
    line-height: 18px;
}

.user-2 {
    width: 300px;
    height: 80px;
    padding-top: 26px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name {
    width: 150px;
    height: 32.34px;
    text-align: left;
    font-family: 'KoddiUD OnGothic', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 37px;
    color: #000000;
}

.Id {
    width: 250px;
    height: 20.98px;
    text-align: left;
    font-family: 'KoddiUD OnGothic', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    color: #959494;
}

.delete-btn {
    width: 76px;
    height: 45px;
    margin-left: 1150px;
    margin-top: 20px;
    margin-bottom: 13px;

    background: #DC5555;
    border-radius: 15px;
    font-family: 'KoddiUD OnGothic';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    border: none;
    outline: none;
    color: #FFFFFF;
}

.listbox {
    box-sizing: border-box;
    width: 1240px;
    margin-left: 30px;
    padding-top: 10px;
    background: #FFFFFF;
    border: 1px solid #959494;
    border-radius: 15px;
    padding: 15px;
    overflow: visible;
    height: auto;
    /* 높이를 자동으로 설정 */
}

table {
    border-collapse: collapse;
    width: 100%;
}

.voyage-table th,
.voyage-table td {
    border: none;
    padding: 15px;
}

.voyage-table tbody tr {
    border-bottom: 1px solid #ddd;
    /* 각 행의 아래에만 경계선을 추가 */
}

.voyage-table thead {
    border-bottom: 1px solid #000;
}

.voyage-table tr:last-child {
    border-bottom: none;
    /* 마지막 행의 경계선을 없앰 */
}

.voyage-table th {
    font-family: 'KoddiUD OnGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #828181;
}

th>#choose-all,
td>.choose-one {
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    border: 1.5px solid #CECBCB;
    border-radius: 3px;
}

.voyage-table td,
.voyage-table a {
    font-family: 'KoddiUD OnGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #828181;
    vertical-align: middle;
    align-items: center;
}

.favorite {
    display: none;
}

.favorite-custom {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/star.png");
    background-size: cover;
    cursor: pointer;
    transform: translate(0%, 15%);
}

.favorite:checked+.favorite-custom {
    background-image: url("../images/darkStar.png");
}